@use 'vars' as v;

body {
    background-image: url(res/grid.png);
    background-size: cover;
    background-position-x: 75%;
    margin: 0 2em 0 2em;
    height: 100vh;
    font-family: "Orbitron", sans-serif;
}
#text {
    font-size: 16px;
}
#title {
    font-size: 42px;
    font-weight: 900;
}
#sub {
    font-size: 20px;
}
.row {
    text-align: center;
}
.space {
    height: 10vh;
}
.enter {
    font-size: 20px;
    font-weight: 600;
    width: 12em;
    height: 3em;
}