@use 'vars' as v;

body {
    background-image: url(res/grid.png);
    background-size: cover;
    background-position-x: 75%;
    margin: 0 2em 0 2em;
    height: 100vh;
    color: v.$blue;
    font-family: "Orbitron", sans-serif;
}
#text {
    font-size: 20px;
    color: #fff;
}
#title {
    font-size: 42px;
    font-weight: 900;
}
#sub {
    font-size: 25px;
    color: v.$orange;
}
#lcycle {
    color: v.$blue;
}
.row {
    text-align: center;
}
.space {
    height: 10vh;
}
button {
    background-color: v.$blue;
    color: v.$black;
    font-size: 20px;
    font-weight: 600;
    border: none;
    width: 12em;
    height: 3em;
}
button:hover {
    background-color: v.$orange;
    color: v.$blue;
}
.nav {
    justify-content: center;
}